@using Kendo.Mvc.UI
@model MoviesDB.Client.Entities.DTOs.DirectorDetailsData

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Director <small></small></h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-equalizer font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Create</span>
                    <span class="caption-helper">Create a new director</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <h3 class="form-section">@Model.FullName</h3>
                        <div class="form-group">
                            <label class="col-md-3 control-label">First Name</label>
                            <div class="col-md-6">
                                @Model.FirstName
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-6">
                                @Model.LastName
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Birth Date</label>
                            <div class="col-md-2">
                                @if (Model.BirthDate != null)
                                {
                                    @Model.BirthDate.Value.ToShortDateString();
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Death Date</label>
                            <div class="col-md-2">
                                @if (Model.DeathDate != null)
                                {
                                    @Model.DeathDate.Value.ToShortDateString();
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">IMDB Link</label>
                            <div class="col-md-2">
                                @Model.ImdbLink
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Country</label>
                            <div class="col-md-2">
                                @Model.Country
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">State</label>
                            <div class="col-md-2">
                                @Model.State
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">County</label>
                            <div class="col-md-2">
                                @Model.County
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Photo</label>
                            <div class="col-md-2">
                                <img src="~/Content/images/movies/@Model.Photo" style="height: 317px; width: 214px; display: block;">
                            </div>
                        </div>

                        <h3 class="form-section">Movies</h3>
                        <div class="tiles">
                            @foreach (var movie in Model.Movies)
                            {
                                <div class="tile double-down bg-blue-hoki">
                                    <img src="~/Content/images/movies/@movie.CoverImage" style="height: 317px; width: 214px; display: block;">
                                    <div class="tile-object">
                                        <div class="name">
                                            @movie.Name
                                        </div>
                                        <div class="number">
                                            @movie.Year
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <h3 class="form-section">News</h3>
                        @(Html.Kendo().Grid(Model.News)
                              .Name("Grid")
                              .Columns(columns =>
                              {
                                  columns.Bound(n => n.Header).Title("Header");
                                  columns.Bound(n => n.CreatedAt).Title("Created At").Width(200);
                              })
                              .Pageable()
                              .Sortable()
                              .DataSource(dataSource => dataSource
                                  .Ajax()
                                  .PageSize(20)
                                  .ServerOperation(false)
                              )
                        )

                        <!--/row-->
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Submit" class="btn green" />
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/Content/kendo/js/kendo.all.min.js"></script>
<script src="~/Areas/Admin/Content/kendo/js/kendo.aspnetmvc.min.js"></script>

<link href="~/Areas/Admin/Content/kendo/styles/kendo.common.min.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/kendo/styles/kendo.common-bootstrap.core.min.css" rel="stylesheet" />

<link href="~/Areas/Admin/Content/kendo/styles/kendo.bootstrap.min.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/kendo/kendopatch.css" rel="stylesheet" />

<style>
    .col-md-2 {
        padding-top: 8px;
        width: 16.66666667%;
    }

    .col-md-6 {
        padding-top: 8px;
    }

    .tiles .tile.double-down {
        width: 214px !important;
        height: 317px !important;
        color: #FFFFFF !important;
    }
</style>