@using FluentValidation.Results
@using Kendo.Mvc.UI
@using MoviesDb.Areas.Admin.Constants
@model MoviesDB.Client.Entities.DTOs.ActorCreationData
@{
    ViewBag.Title = "Create";
}

<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>Actor <small></small></h1>
    </div>
    <!-- END PAGE TITLE -->
</div>
<!-- END PAGE HEAD -->
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_0">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-red-sunglo"></i>
                                <span class="caption-subject font-red-sunglo bold uppercase">Create</span>
                                <span class="caption-helper">Create a new actor</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="form-horizontal">
                                @using (Html.BeginForm("Create", "Actor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-body">
                                        <h3 class="form-section">Base Info</h3>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">First Name</label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(t => t.FirstName, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Last Name</label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(t => t.LastName, new {@class = "form-control"})
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Gender</label>
                                            <div class="col-md-9">
                                                <div class="radio-list">
                                                    <label class="radio-inline">
                                                        <div class="radio">
                                                            @Html.RadioButtonFor(model => model.Gender, true, new { @class = "selected" })
                                                        </div>
                                                        Male
                                                    </label>
                                                    <label class="radio-inline">
                                                        <div class="radio">
                                                            @Html.RadioButtonFor(model => model.Gender, false)
                                                        </div>
                                                        Female
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Date of Birth</label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(t => t.BirthDate, new { @class = "form-control", placeholder = "dd/mm/yyyy" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Date of Death</label>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(t => t.DeathDate, new { @class = "form-control", placeholder = "dd/mm/yyyy" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Country</label>
                                            <div class="col-md-4">
                                                @(Html.Kendo().DropDownList()
                                            .Name("CountryId")
                                            .HtmlAttributes(new { @class = "form-control" })
                                            .OptionLabel("Select a country...")
                                            .DataTextField("Name")
                                            .DataValueField("Id")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetCascadeCountries", "Director");
                                                });
                                            })
                                                )
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">State</label>
                                            <div class="col-md-4">
                                                @(Html.Kendo().DropDownList()
                                                      .Name("StateId")
                                                      .HtmlAttributes(new { @class = "form-control" })
                                                      .OptionLabel("Select a state...")
                                                      .DataTextField("Name")
                                                      .DataValueField("Id")
                                                      .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                          {
                                                              read.Action("GetCascadeStates", "Director").Data("filterProducts");
                                                          })
                                                              .ServerFiltering(true);
                                                      })
                                                      .Enable(false)
                                                      .AutoBind(false)
                                                      .CascadeFrom("CountryId"))
                                                <script>
                                                    function filterProducts() {
                                                        return {
                                                            country: $("#CountryId").val()
                                                        };
                                                    }
                                                </script>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">County</label>
                                            <div class="col-md-2">
                                                @(Html.Kendo().DropDownList()
                                                .Name("CountyId")
                                                .HtmlAttributes(new { @class = "form-control" })
                                                .OptionLabel("Select a county...")
                                                  .DataTextField("Name")
                                                  .DataValueField("Id")
                                                  .DataSource(source =>
                                                  {
                                                      source.Read(read =>
                                                      {
                                                          read.Action("GetCascadeCounties", "Director").Data("filterOrders");
                                                      })
                                                      .ServerFiltering(true);
                                                  })
                                                  .Enable(false)
                                                  .AutoBind(false)
                                                  .CascadeFrom("StateId"))
                                                <script>
                                                    function filterOrders() {
                                                        return {
                                                            state: $("#StateId").val()
                                                        };
                                                    }
                                                </script>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-3 control-label">IMDB Link</label>
                                            <div class="col-md-2">
                                                @Html.TextBoxFor(t => t.ImdbLink, new {@class = "form-control"})
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">Portrait I</label>
                                            <div class="col-sm-6 col-md-3">
                                                <div class="radio-list">
                                                    <input type="file" name="file" class="default"/>
                                                    <p class="help-block" style="font-style: italic">
                                                        portrait photo only
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="form-section">Description</h3>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-9">
                                                        @(Html.Kendo().Editor()
                                                              .Name("Biography")
                                                              .HtmlAttributes(new { style = "width: 740px;height:440px" })
                                                              .Tools(tools => tools
                                                                  .Clear()
                                                                  .Bold().Italic().Underline().Strikethrough()
                                                                  .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                                                  .InsertUnorderedList().InsertOrderedList()
                                                                  .Outdent().Indent()
                                                                  .CreateLink().Unlink()
                                                                  .InsertImage()
                                                                  .InsertFile()
                                                                  .SubScript()
                                                                  .SuperScript()
                                                                  .TableEditing()
                                                                  .ViewHtml()
                                                                  .Formatting()
                                                                  .CleanFormatting()
                                                                  .FontName()
                                                                  .FontSize()
                                                                  .FontColor().BackColor()
                                                                  .Print()
                                                              )
                                                              .Value(@<text> </text>)
                                                        )
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <input type="submit" value="Submit" class="btn green" />
                                                <button type="button" class="btn default">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <script src="~/Areas/Admin/Content/kendo/js/kendo.all.min.js"></script>
                            <script src="~/Areas/Admin/Content/kendo/js/kendo.aspnetmvc.min.js"></script>

                            <link href="~/Areas/Admin/Content/kendo/styles/kendo.bootstrap.min.css" rel="stylesheet" />
                            <link href="~/Areas/Admin/Content/kendo/styles/kendo.common.min.css" rel="stylesheet" />

                            <link href="~/Areas/Admin/Content/kendo/styles/kendo.common-bootstrap.core.min.css" rel="stylesheet" />

                            @if (TempData["Status"] != null)
                            {
                                switch (TempData["Status"].ToString())
                                {
                                    case CrudNotification.ValidationError:
                                        foreach (var item in (IEnumerable<ValidationFailure>)ViewBag.ValidationErrors)
                                        {
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">@item.PropertyName</h3>
                                                </div>
                                                <div class="panel-body">
                                                    @item.ErrorMessage
                                                </div>
                                            </div>
                                        }
                                        break;

                                    case CrudNotification.Success:
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Success!</h3>
                                        </div>
                                        <div class="panel-body">
                                            Country updated without any fault(s).
                                        </div>
                                    </div>
                                        break;

                                    case CrudNotification.Failed:
                                        break;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
